html,
body {
  height: 100%;
  width: 100%;
  background-color: black;
  color: #fff;
}
.navbar {
  background: none !important;
  padding: 1% 0;
  font-size: 1em;
  opacity: 90%;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.nav-item {
  padding-left: 25px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: grey !important;
}
.navbar-brand {
  min-height: 55px;
  padding: 0 15px 5px;
}
.navbar .navbar-nav li a {
	color: #fff;
  }
 
.navbar .navbar-nav li a:hover {
  color: grey !important;
}

#home {
  background: url(aeroplane.jpg) no-repeat center center fixed;
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  background-size: cover;
}
.landing-text {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  color: rgb(49, 49, 49);
}
.landing-text h2 {
  font-size: 400%;
  font-weight: 800;
  color: rgb(90, 36, 0);
  font-family: "Times New Roman", Times, serif;
}
.padding {
  padding: 80px 0;
}
#fixed {
  background: url(office.jpg) no-repeat center center fixed;
  display: table;
  height: 50%;
  position: relative;
  width: 100%;
  background-size: cover;
}
#fixed1 {
  background: url(sky1.jpg) no-repeat center center fixed;
  display: table;
  height: 30%;
  position: relative;
  width: 100%;
  background-size: cover;
}
footer {
  width: 100%;
  background-color: black;
  padding: 5% 5% 10% 5%;
  color: #fff;
}
.contactLinks a{
	height: 1rem !important;
	width: 1rem !important;
	color: #fff !important;
	font-size: 2rem !important;
	margin: 0 0.5rem;
}
.skillBox{
  display: flex;
}
@media screen and (max-width:700px){
  .skillBox{
    display: flex;
    flex-direction: column;
  }
	.navbar {
  background: light-grey !important;
  
}

}
